@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


::-webkit-scrollbar {
    background: #313338;
}
::-webkit-scrollbar-thumb {
    background: chartreuse;
}

body {
    background-color: #313338;
    color: white;
    font-family: "Press Start 2P", system-ui;
}
.topCard {
    border-width: 5px;
    border-color: chartreuse;
    border-style: solid;
    border-radius: 0px;
    display: flex;
    gap: 20px;
    overflow: inherit;
}
h1 {
    text-align: center;
}
.aboutMeP {
    padding-bottom: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
    line-height: 3vh;

}
.character {
    padding: 1vh;
    width: 15vh;
    height: 15vh;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

.langScrollContainer {
    border-width: 5px;
    border-color: chartreuse;
    border-style: solid;
    border-radius: 0px;
    display: flex;
    gap: 20px;
    margin-top: 1vh;
    margin-bottom: 1vh;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-color: chartreuse, #313338;
}

.jsImg {
    padding-bottom: 1vh;
    padding-top: 1vh;
    width: 20vh;
    height: 20vh;

}

.projectCard {
    border-width: 5px;
    border-color: chartreuse;
    border-style: solid;
    border-radius: 0px;
    display: flex;
    margin-bottom: 2vh;
}

.ProjectsLogo {
    image-rendering: pixelated;
    margin-right: 1.5vw;
    margin: 1vh;
}

.button {
  background-color: #313338;
  color: white;
  padding: 1vh 2vh;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border-color: chartreuse;
  border-width: 0.5vh;
  border-style: solid;
}